<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body class="bg-off-white">
  <!-- <h1 class="underline text-3xl text-dark-blue"><%= title %></h1> -->

  <div class="container mx-auto">
    <ul>
      <% cars.forEach(car => { %>
        <div class="my-5 p-5 bg-grey-blue border border-off-white rounded-lg shadow">
          <div>
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> <%= car.make %>  •  <%= car.model %></h5>
          </div>
          <div class="flex flex-column">
            <img src="<%= car.image %>" alt="<%= car.make %> <%= car.model %>" class="w-full h-64 object-cover rounded-lg">
            <div>
              <p class="mb-3 italic text-white "> <%= car.year %></p>
              <p class="mb-3 font-normal text-white "> Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue rounded-lg hover:bg-dark-blue focus:ring-4 focus:outline-none focus:ring-blue-300">
                Details
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      <% }) %>
    </ul>
  </div>
</body>
</html>
